$zIndex: 100000;
$defaultFontFamily: Roboto;
$iconDefaultColor: invert(59%) sepia(0%) saturate(0%) hue-rotate(117deg) brightness(81%) contrast(82%);
$defaultFontSize: 14px;
$defaultTextColor: #000000;
$defaultAccentColor: #005693; 